<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/login-register.css">
</head>
<body>

    <div>
        <img src="https://www.erasmushogeschool.be/themes/custom/ehb/logo.svg" alt="EhB Logo" class="EhB-logo">
    </div>

    <div class="titel">
        <h1>Welcome to the EhB AI Bot!</h1>
        <p>Ask anything about Erasmushogeschool Brussel!</p>
    </div>

    <div class="container">
        <h1>Register</h1>
        <form id="registerForm">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="/static/register.js"></script>
</body>
</html>
